@import url('https://fonts.googleapis.com');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container-slide{
  padding: 2px;
  background-color: maroon;
}
.slider-wrapper{
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem
  hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.transition-all { 
  transition: all 0.5s ease; 
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a{
  width: .5rem;
  height: .5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 0.25s;
}
.slider-nav a:hover{
  opacity: 1;
}
body {
  background-color: rgb(255, 241, 216);
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 10;
}
div.navbar{
  height: 80px;
}
a.direction {
  text-decoration: none;
  font-family: 'Inter';
  width: 150px;
}
nav.navbar{
  background-color: rgba(0, 0, 0, .1);
  text-align: center;  
  link{
    color:rgb(2, 87, 255)
  };
  visited{
    color:rgb(93, 11, 56)
  };
  hover{
    color: rgb(252, 93, 93)
  }
  word-spacing: 3px;
  display: flex; 
  flex-wrap: wrap;
  justify-content:center;
  gap: 50px;
}
nav a{
  background-color: rgb(207, 176, 119);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a:hover {
  background-color: wheat;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  width: 100px;
  height: auto;
}
img.pfp {
  justify-content: left;
  text-align: center;
  width: 80px;
  height: 80px;
}
.grid-container-about{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 1em;
}
.grid-container-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75px 200px;
  gap: 1em;
  grid-template-areas:
  "content-header content-image" 
  "content-words content-image";
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-about{ 
  height: 200px;
  padding: 2em;
  background-color: bisque;
  color: black;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
.item-content-1{ 
  padding: 2em;
  background-color: rgb(249, 204, 149);
  color: black;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
.item-content-2{ 
  padding: 2em;
  background-color: rgb(255, 175, 126);
  color: black;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
.item-content-3{ 
  padding: 2em;
  background-color: rgb(253, 151, 120);
  color: black;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
div.bigfoot{
  background-color: bisque;
  height: 200px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
h2.aboutme{
  font-family:'Montserrat';
  line-height: 1.5;
  text-align: left;
}
p.aboutme {
  font-family: 'Franklin Gothic Medium';
  line-height: 1.2;
  text-align: left;
  width: 1fr;
}
h2.contentarea{
  font-family:'Montserrat';
  line-height: 1.5;
  text-align: left;
}
p.contentarea {
  font-family: 'Franklin Gothic Medium';
  line-height: 1.2;
  text-align: left;
  width: 1fr;
}
p.contentmedia{
background-color: beige;
}
p.bigfoot{
  font-family: 'Franklin Gothic Medium';
  line-height: 1;
  text-align: center;
  width: 1fr;
}
.img-lavabee{
  height: 200px;
  width: 200px;
}
.img-stormtrooper{
  height: 200px;
  width: auto;
}