@import url('https://fonts.googleapis.com');
/*Color Scheme*/
h1.screensaver{
  background-color: rgb(75, 8, 8);
  text-align: center;
  font-family:'Montserrat';
  padding-bottom: 300px;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
div.headtop{
  height: 300px;
  padding: 10, 10, 10, 10;
  margin: 10, 10, 10, 10;
}
div.navbar{
  height: 30px;
  padding: 10, 10, 10, 10;
  margin: 10, 0, 10, 0;  
}
a.direction {
  text-decoration: none;
  font-family: 'Inter';
  width: 150px;
}
nav.navbar{
  background-color: rgb(41, 105, 35);
  text-align: center;  
  link{
    color:rgb(2, 87, 255)
  };
  visited{
    color:rgb(93, 11, 56)
  };
  hover{
    color: rgb(130, 204, 228)
  }
  word-spacing: 3px;
  display: flex; 
  flex-wrap: wrap;
  justify-content:center;
  gap: 50px;
}
nav a{
  background-color: rgb(62, 84, 19);
  border: none;
  color: rgb(0, 0, 0);
  padding: 0px 15px;
  font-size: 16px;
  height: 30px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a:hover {
  background-color: rgb(110, 148, 33);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  width: 100px;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(160, 194, 158);
  padding: 5px;
  gap: 5px;
  margin-top: 20px;
}
.container div{
  background-color: aqua;
  height: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
/*
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(160, 194, 158);
  padding: 5px;
  gap: 5px;
}*/
/*
.container div.contentarea{
  background-color: rgb(0, 106, 255);
  height: 275px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
div.bigfoot{
  background-color: rgb(205, 226, 255);
  height: 200px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}*/
p.stand1{
  float: left;
  height: 220px;
  width: 1000px;
  background-color:aquamarine;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium';
  line-height: 1.5;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
}
p.stand2{
  float: right;
  height: 220px;
  width: 300px;
  background-color:aquamarine;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium';
  line-height: 1.5;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
}/*
h2.contentareaheading{
  float: left;
  height: 30px;
  width: 1000px;
  background-color: rgba(0,0,0,0.3);
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 15px;
  font-family:'Montserrat';
  line-height: 1.9;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid black;
}
p.contentarea1{
  float: left;
  height: 215px;
  width: 1000px;
  background-color:rgb(232, 244, 13);
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium';
  line-height: 1.5;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
}
p.contentarea2{
  float: right;
  height: 205px;
  width: 300px;
  background-color:rgb(255, 127, 219);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Franklin Gothic Medium';
  line-height: 1.5;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
}
p.bigfoot{
  height: 100px;
  font-family: Helvetica;
  line-height: 0.9;
  width: 1400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 45px;
  margin-left: 45px;
  display: flex;  
  text-align: justify;
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
}







/*
body {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

/*links
a:link{
    color:rgb(197, 29, 29)
}
a:visited{
    color:rgb(93, 11, 56)
}
a:hover{
    color:rgb(255, 140, 0)
}
a.direction {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

/*Section colors - add more eventually
h1.title{
  background-color: rgba(192, 192, 192, 0.5);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:'Montserrat', sans-serif;
  width: 1440px;
  height: auto;
}

h1{
  background-color: rgb(192, 192, 192);
  text-align: center;
  width: 1440px;
  height: auto;
  letter-spacing: 3px;
  font-family:'Montserrat', sans-serif;
}

h2{
  background-color: rgb(192, 192, 192);
  text-align: center;
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
}

h3{
  background-color: rgb(192, 192, 192);
  text-align: center;
  width: 1440px;
  height: auto;
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
}

div.lethalbanner{
  background-color: rgb(110, 28, 28);
  width: 1440px;
  height: auto;
}

/*Typography
p.impact {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
  text-align: justify;
  width: 1400;
} /*use type t for general text

p.arial {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.9;
  text-align: justify;
  width: 1400;
} /*use type h for header*/

/* Div classes 
div.arial {
  line-height: normal;
  background-color: rgb(251, 195, 195);
  color: black;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;

} /*use for general text

div.impact {
  background-color: rgb(177, 153, 153);
  color: black;
  line-height: 25%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
} 
div.boxed {
  padding: 5px;
  border: 1px solid color rgb(0, 0, 0);
}
div.fiftyPx {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

hr.line{
  height: 2px;
  width: 1400;
  text-align: justify;
}
/*page margin*/

/*navigation bar
div.Nav{
  padding: 2px;
  background-image: url("LCHiDef.jpg");
  width: 1440px;
  height: auto;
}

nav.Navbar{
  padding: 2px 0px 2px 0px;
  margin: 3px;
  background-color: rgba(192, 192, 192, 0.25);
  text-align: center;  
  link{
    color:rgb(197, 29, 29)
  };
  visited{
    color:rgb(93, 11, 56)
  };
  hover{
    color:rgb(255, 140, 0)
  }
  word-spacing: 5px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

nav a {
  background-color: #686868;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

nav a:hover {
  background-color: #ff4400;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

button {
    background-color: rgba(192, 192, 192, 0.25);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

/*image
img.banner {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: auto;
}

img.pc{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: auto;
}

figcaption {
    color: #666;
    font-style: italic;
    text-align: center;           
    margin-top: 8px;            
    margin-bottom: 20px;            
    padding: 5px 10px;              
    border-left: 3px solid #aa0404; 
    display: inline-block;  
}
footer{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.9;
  text-align: justify;
  width: 1400;
}
*/
/*use for header*/

/*
Font-family
Size - Spacing
Distinct headers
*/

/*Box Model*/
/*heading spacing*/

/*paragraph class spacing*/

/*Padding*/
/*
General team rules:
Consistent color scheme (background, text, links, section colors; readable contrast)
Choose a background color and ensure text is readable over it.
Style links so they are clearly distinguishable (default, hover, and visited states).
Use different section backgrounds (they must still feel like one cohesive design).

Typography ( font-family , sizes, weights, line-height, spacing)
Set a font-family for the page (and optionally a different one for headings).
Use readable font sizes and spacing ( line-height , margins for headings/paragraphs).
Make headings visually distinct from body text.

Box model / spacing Use margin , padding , and border intentionally for spacing and layout
Use margin and padding intentionally to create clear spacing (must be explicitly set for at least one
element)
Use borders where appropriate (on at least one card, section, table, image, etc.).
Your layout should not feel “crammed” or “randomly spaced” to the grader's eye.

Styled navigation bar
Your <nav> must have:
a background color (or other clear styling)
spacing between links
a visible hover effect for links 

Team 2:
Improve readability and “designed” feel of the page by styling text:
adjust line-height
adjust spacing between paragraphs/sections
adjust letter spacing or text transform in a tasteful way (not chaotic)

Add at least ONE text effect:
subtle text shadow on headings, or
distinctive styling for headings/subheadings

Extra Enhancement (1 is required):
Style at least one of these uniquely:
<blockquote> (example: border-left, italic, background, padding)
<figcaption> (example: smaller text, muted color, spacing)
*/